<html>
	<body>
		<div class='errors'>
			<%if(validationErrors){%>
				<ul>
					<%for(var i = 0; i < validationErrors.length; i++){%>
						<li><%=validationErrors[i].param%> - <%=validationErrors[i].msg%></li>
					<%}%>
				</ul>
			<%}%>
		</div>
		<form action="/produtos" method="post">
			<div>
				<label for="titulo">Title</label>
				<input type="text" id="titulo" name="titulo" value="<%=product.titulo%>" placeholder="put the title here"/>
			</div>
			<div>
				<label for="preco">Price</label>
				<input type="text" id="preco" value="<%=product.preco%>" name="preco" placeholder="150"/>
			</div>			
			<div>
				<label for="descricao">Description</label>
				<textarea cols="20" rows="10" id="descricao" name="descricao" placeholder="put the product description"><%=product.descricao%></textarea>
			</div>

			<input type="submit" value="save"/>
		</form>
	</body>
</html>